@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    margin: 1rem 1rem 1rem 1rem;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.logo-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

h1 {
    font-weight: 900;
    font-size: 54px;
    color: #d4af37;
    margin-bottom: 20px;
    min-height: 62px;
}

h2 {
    font-size: 36px;
    color: #666;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 20px 30px;
    font-size: 54px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3rem;
}

button:hover {
    background-color: #218838;
}

.empower-section {
    max-width: 100%;
    height: auto;
}

.parpadea {

    animation-name: parpadeo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

#by {
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
    min-height: 21px;
}

.go-smart {
    color: #2c5aa0;
}

.group {
    color: #ff9046;
}

#by,
.go-smart,
.group {
    text-align: right;
    font-size: x-small;
    padding: 0;
    display: inline; /* Para que estén en la misma línea */
    margin: 0; /* Eliminar márgenes por defecto */
}