body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto;
}

video {
    border: 2px solid black;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#register {
    padding: 1rem 2rem;
}

button:hover {
    background-color: #45a049;
}

video {
    margin-top: 10px;
    border-radius: 10px;
}

strong {
    text-transform: uppercase;
}

p {
    margin: 10px 0;
    text-align: left;
    padding-left: 1rem;
    margin-top: 10px;
    span {
        font-size: 20px;
    }
}

.responsive-img {
    width: 100%;
    max-width: 356px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

#register {
    margin: 10px;
}

#message {
    color: #45a049;
}

#message, #by {
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
    min-height: 21px;
    text-align: center;
}

.go-smart {
    color: #2c5aa0;
}

.group {
    color: #ff9046;
}

#by,
.go-smart,
.group {
    padding: 0;
    display: inline; /* Para que estén en la misma línea */
    margin: 0; /* Eliminar márgenes por defecto */
}